[Desktop Entry]
Encoding=UTF-8
Exec=/bin/qtcreator2
Name=Qt-Creator
GenericName=C++ IDE
X-KDE-StartupNotify=true
Icon=/opt/qtcreator2/share/pixmaps/qtcreator_logo_48.png
Terminal=false
Type=Application
Categories=Qt;Development
