Source: picmi
Section: x11
Priority: optional
Maintainer: Jakob Gruber <jakob.gruber@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), mesa-common-dev, libglu1-mesa-dev, libsfml-dev, libqt4-dev, libboost-dev, libboost-thread-dev
Standards-Version: 3.8.4
Homepage: http://github.com/schuay/picmi

Package: picmi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsfml-graphics1.6, libqtgui4, libboost-thread1.42.0
Description: A picross and minesweeper clone.
 A game collection containing containing picross and minesweeper clones, written in C++.
