[Desktop Entry]
Exec=/opt/qt-beta1/bin/assistant
Name=Qt Assistant
GenericName=Qt Document Browser
Icon=assistant
Terminal=false
Type=Application
Categories=Qt;Development;Documentation
